main{
    display:grid;
    grid-template-columns:1fr 5fr;
    gap:1rem;
    padding:1rem;
}
html {
    font-size: 20px; /* This changes 1rem to 20px */
}
body{
    font-family: 'Sedan SC' sherif;
    background-color: #f5f5f5;
}
.left{
    display:flex;
    flex-direction: column;
    gap:0.5rem;
    position: sticky;
    top:1rem;
    background-color: black;
    height:90vh;
    border-radius: 1rem;
    align-items: center;
}

.profile p{
    color:white;
    font-size: larger;
    font-weight: 250;
}

.profile img{
    width: 8vw;
    border-radius: 100%;
}
.profile{
    display: flex;
    flex-direction: column;
    gap:0.2rem;
    align-items: center; 
    margin:0.8rem;
}
.nav{
    display: flex;
    flex-direction: row;
    gap: 3px;
    height: 6vh;
    width: 10vw;
    color:white;
    margin-left:1.5rem;
    padding-right: 1rem;
    text-transform: uppercase;
    margin-bottom: 3vh;
}

.nav >a {
    text-decoration: none;
    font-size: 200;
    font-weight: 300;
    padding-left: 1rem;
    color: white;
}
.nav:hover{
    color:gold
}
.nav>a:hover{
    color:lightgrey
}

.right{
    display:flex;
    flex-direction: column;
    gap: 1rem;
}
header input{
    border-radius: 1rem;
    width:10rem;
    height: 1.2rem;
    margin:1.5rem 5rem 0 0;
    offset: 0;
    border: 0 solid white;
    background-color: white;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header>h1{
    margin:1rem 0 0 2.5rem;
    font-size: 1.7rem;
    font-weight: 700;
}
header>input:focus{
    text-decoration: none;
    outline:0;
    border: 2px solid greenyellow;
}
#box,#schedule{
    width:90%;
    border-radius: 0.75rem;
    background-color: white;
    padding :1rem;
    
}
#board{
    margin-left:2.5rem;
    margin-top:1.5rem;
}
#board img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

#data,#users,#schedule{
    margin-left: 2.5rem;
    border-radius: 1rem;
}
.grad{
    width:10rem;
    height :6rem;
    background-color: lightcoral;
    border-radius: 1rem;
    display:flex;
    flex-direction: column;
    
}
.g2{
    background-color: lightblue;
}

.g3{
    background-color: lightgreen;
}
.g4{
    background-color: lightskyblue ;
}
.align{
    text-align: center;
    text-decoration: underline;
}
.Big-grad{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top:1.5rem;
}
.g1:hover{
    background-image: radial-gradient(lightgreen,lightblue);
} 
.g2:hover{
    background-image: radial-gradient(red,greenyellow);
}
.g3:hover{
    background-image: radial-gradient(pink,greenyellow);
}
.g4:hover{
    background-image: radial-gradient(orange,greenyellow);
}
.grad>i{
    margin-left: 8.5rem;
    margin-top: 1rem;
    margin-bottom: 1.25rem;
}
.grad>p{
    font-size:medium;
    font-weight: bold;
    margin:0;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}
/* .align:hover{
    font-size: x-large;
    color: blue;
} */
 
table{
    width:90%;
    margin-left: 2rem;
    border-collapse: collapse;
    
}

tr>th{
    background-color: bisque;
    height:2.5rem;
}
.cen{
    text-align: center;
    width:50%;
}
.lef{
    text-align: left;
}
td{
    height: 2.5rem;
}
.even{
    background-color: lightgrey;
}
.odd{
    background-color: lightcyan;
}
td:hover{
    background-color: aqua;
}

#schedule{
    margin-left: 2.5rem;
    margin-top: 2rem;
    scroll-behavior: smooth;
    overflow-y: scroll;
    height: 20rem;
}
.head{
    
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.od{
    border-left: 3px solid green;
    padding-left: 0.75rem;
}

.ev{
    border-left: 2px solid blue;
    padding-left: 0.75rem;
}
iframe{
    border-radius: 1.5rem;
    margin-left:1.5rem;
    margin-top:1rem;
}
.parts{
    display: flex;
    flex-direction: row;
    gap:1.2rem;
    flex-wrap: wrap;
}
.part2{
    width:25rem;
    background-color: white;
    margin-top:1rem;
    border-radius: 1.5rem;
    margin-left: 1rem;
    
}
form{
    display: flex;
    flex-direction: column;
    gap:1rem;
    padding:0 2rem;
}
input{
    height: 1.25rem;
    border-radius: 8px;
}
textarea , button{
    border-radius: 5px;

}

button{
    background-color: lightgreen;
    border:0;
    height: 1.25rem;
}
footer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: black;
    text-align: center;
    padding: 1rem 0 ;
}
footer i, footer p{
    color: white;
    margin:0 0.5;
}
span{
    font-weight: bold;
}

@media screen and (max-width: 1400px){

    main{
        display: block;
    }
    .navbar{
        display: flex;
        flex-direction: row;
        margin: 0;
        width: 100%;
        justify-content: center;
    }
    .left{
        height:25vh;
        position: static;
    }
    .profile-img{
        position: absolute;
        top:0.1rem;
    }
    .profile p{
        color:white;
        font-size: larger;
        font-weight: 250;
        margin: 3.5rem 0 2rem 0;
    }
    .navbar i {
        display: none;
    }

}